
@media screen and (max-width :1200px){
}

@media screen and (max-width :960px){
}

@media screen and (max-width :876px){
}

@media screen and (max-width :768px){
	 section.top-menu header .navMobile{
    position: absolute;
    z-index: 999;
    right: -250px;
    height: 100vh;
    transition: 0.3s ease-in-out;
    background: #006dd9;
    top: 50px;
    width: 250px;

}

.toggleMenu{
	display: block;
}

	section.top-menu header .navMobile ul li{
	        float: none;
	    border-right: none;
	    height: auto;
	        padding: 5px 15px;

	}

  section.top-menu header .navMobile ul li a{
    padding:10px;
    color:#fff;
    box-shadow: 0px 0px 2px;
	}

	.top-menu .container{
       max-width:768px;
	}

	section.top-menu header .navMobile ul{
		    padding-top: 12px;
	}

}

@media screen and (max-width :500px){
  }