a:hover{
text-decoration: none !important;
}

.plr15{
	padding-left:15px;
	padding-right:15px;
}
.ptb50{padding:50px 0px;}
.pb50{padding-bottom:50px;}
.pt50{padding-top:50px;}
.mb50{
	margin-bottom:50px;
}
.mt70{
	margin-top:15px;
}
.pt30{padding-top:40px;}

.white{background-color:#fff;}
/*header menu*/
section.top-menu .headerLogo img{
    width:85px;
}
section.top-menu{
       border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    background: #ffffffbd;    z-index: 99;
}
section.top-menu header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

section.top-menu header nav ul{
    padding:0;
    margin:0;
    overflow: auto;
}
section.top-menu header nav ul li:last-child{
border-right:none;
}
section.top-menu header nav ul li:hover{
    padding-top:0px;
}
section.top-menu header nav ul li span{

}
section.top-menu header nav ul li{
    list-style: none;
    /* display: inline-block; */
    border-right: 2px solid #000;
    padding: 0px 6px;
    float: left;    height: 22px;
        padding-top: 3px;
            transition: 0.3s;
}
section.top-menu header nav ul li a{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    display: block;

}


 .toggleMenu{
    position: relative;
    top: 2px;
    height: 20px;
    width: 30px;
    display: none;
    cursor:pointer;

}
 .toggleMenu span{
    display: block;
    width: 30px;
    height: 3px;
    background: #006dd9;
    position: absolute;
    transition: 0.5s all;
}
/* .toggleMenu .span1{}*/
 .toggleMenu .span2{top:8px;}
 .toggleMenu .span3{top:16px;}
 .toggleMenu .span1Anim{
        transform: rotate(45deg);
        width: 24px;
}
 .toggleMenu .span2Anim{
        opacity: 0;
}
 .toggleMenu .span3Anim{
        transform: rotate(-45deg);
        width: 24px;
}


#typed{
    font-weight: bolder;
    font-size: 60px;
    text-shadow: 1px 1px 3px #000;
    color:#fff;
    z-index:9;
}

.typed-cursor {
    color:#fff;
    font-size: 60px; z-index:9;
}

/*header menu end*/


/*video container */
.videoContainer #myVideo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
   /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
/*  background-size: cover;
  transition: 1s opacity;*/
}
.videoContainer{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoContainer::after{
     content: '';
    height: inherit;
    width: 100%;
    background-color: red;
    position: absolute;
}
/*video container end*/

.aboutContainer{
    background: #fff;
}



/*slider*/
.customeSlider .carousel-control-next, .customeSlider .carousel-control-prev{
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000054;
    width:40px;
}
.videosection2{
   background-color: #f1f7b3;
}
.videosection3{
 background-color: #f1f7b3;
}
.section4{
    background-color:#d0d4d6;
    
}

.cardImgWrapper{
    padding:15px;
}

.cardImgWrapper img{
    max-width: 100px;
}

.
/*sliders end*/